# Navegadores modernos únicamente - elimina polyfills innecesarios
# Esto evita polyfills para Array.at, Array.flat, Object.fromEntries, etc.
# Solo navegadores que soporten ES2022+ (Chrome 94+, Firefox 93+, Safari 15+, Edge 94+)

last 1 Chrome version
last 1 Firefox version
last 1 Safari version
last 1 Edge version
not dead
not op_mini all
